# Token fine-grained con permisos para dispatch y read actions
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Opcional: se usan si no estan en setup.yml
GITHUB_REPO_OWNER=Tehedor
GITHUB_REPO_NAME=MLOps_actions_v2
