GITHUB_TOKEN=XXXXXXX
# GITHUB_REPO=Tehedor/MLOps_actions_v2

DATABASE_URL=executions.db


# Nombres seleccionados de maenra dinamcia en función del nombre asignado en el campo github_token_env de cada pipeline en file config/pipelines.yaml
GITHUB_TOKEN_EDGE=XXXXXXX
GITHUB_TOKEN_EDGE_UNI=XXXXXXX
GITHUB_TOKEN_EDGE_TS=XXXXXXX

# Permisos necesarios Github Actions:
# * Despliega la sección **"Repository permissions"**.
# * Busca el permiso llamado **"Contents"** (Contenidos).
# * Cambia el desplegable a **"Access: Read and write"** (Lectura y escritura). *(Verás que al hacer esto, el permiso "Metadata" se pone automáticamente en Read, es normal).*

# Permisos para hacer pull, push y crear ramas:
# * Tokens Fine-grained: Mismo que arriba -> "Contents: Read and write".
# * Tokens Classic: Marcar el scope principal -> "repo".

# Actions       read-write
# Contents      read-write
# Metadata      read-only


# Dagshub creddenciales
DAGSHUB_USER=Tehedor
DAGSHUB_TOKEN=XXXXXXX


# Supabase (Opticional)
SUPABASE_PUBLISHABLE_KEY=XXXXXXX
SUPABASE_URL=XXXXXXX
SERVICE_ROLE_KEY=XXXXXXX
WEBHOOK_SECRET=XXXXXXX

SUPABASE_ACCESS_TOKEN=XXXXXXX


# Variables de entorno para los runners especializados para micontroladores
RUNNER1_URL="https://XXXXXXX.XXXXXXX.com"
RUNNER1_USERNAME="XXXXXXX"
RUNNER1_PASSWORD="XXXXXXX"

RUNNER2_URL="https://XXXXXXX.XXXXXXX.com"
RUNNER2_USERNAME="XXXXXXX"
RUNNER2_PASSWORD="XXXXXXX"

RUNNER3_URL="https://XXXXXXX.XXXXXXX.com"
RUNNER3_USERNAME="XXXXXXX"
RUNNER3_PASSWORD="XXXXXXX"

RUNNER4_URL="https://aaaaaaaaaa.xxxxx.com"
RUNNER4_USERNAME="XXXXXXX"
RUNNER4_PASSWORD="XXXXXXX"