GITHUB_TOKEN=github_pat_YOUR_TOKEN_HERE
GITHUB_REPO=Tehedor/MLOps_actions_v2
DATABASE_URL=executions.db

DAGSHUB_USER=Tehedor
DAGSHUB_TOKEN=YOUR_DAGSHUB_TOKEN_HERE

SUPABASE_PUBLISHABLE_KEY=sb_publishable_********
SUPABASE_URL=https://*******.supabase.co
SERVICE_ROLE_KEY=sb_secret_****************
WEBHOOK_SECRET=EjemploSecretoWebhook123


SUPABASE_ACCESS_TOKEN=sbp_***********************


RUNNER1_URL="https://***.***.com"
RUNNER1_USERNAME="runner"
RUNNER1_PASSWORD="*****"

RUNNER2_URL="https://***.***.com"
RUNNER2_USERNAME="runner"
RUNNER2_PASSWORD="*****"