GITHUB_TOKEN=github_pat_YOUR_TOKEN_HERE
GITHUB_REPO=Tehedor/MLOps_actions_v2
DATABASE_URL=executions.db

DAGSHUB_USER=Tehedor
DAGSHUB_TOKEN=YOUR_DAGSHUB_TOKEN_HERE

SUPABASE_PUBLISHABLE_KEY=sb_publishable_********
SUPABASE_URL=https://*******.supabase.co/rest/v1/