# ==============================================================================
# CONFIGURACIÓN MLOPS (TTYD + Cloudflare Tunnel + GitHub Runner)
# ==============================================================================

# ------------------------------------------------------------------------------
# 1. TERMINAL WEB Y TÚNEL DE RED
# ------------------------------------------------------------------------------
# Dominio base y subdominio para acceder desde fuera
DOMAIN=******.com
SUBDOMAIN=terminalESP
TUNNEL_NAME=runner-esp32-tunnel2
PORT=7681
TERMINAL_USER=admin
TERMINAL_PASS=********
RUN_USER=runner

# ------------------------------------------------------------------------------
# 2. GITHUB ACTIONS RUNNER
# ------------------------------------------------------------------------------
RUNNER_DIR=/home/runner/actions-runner
GITHUB_URL=https://github.com/Tehedor/MLOps_actions_v2
GITHUB_TOKEN=******
RUNNER_NAME=MLOPSRunner1
RUNNER_LABELS="self-hosted-tehelab,esp32v1"
RUNNER_VER=2.334.0
RUNNER_HASH=048024cd2c848eb6f14d5646d56c13a4def2ae7ee3ad12122bee960c56f3d271