# ==============================================================================
# CONFIGURACIÓN DE SERVICIOS (TTYD + Cloudflare Tunnel)
# ==============================================================================

# Dominio base
DOMAIN=***.com

# Subdominio que apuntará a esta máquina en concreto
SUBDOMAIN=terminalESP

# Puerto interno (no cambiar a menos que haya colisiones)
PORT=7681

# Nombre descriptivo para el túnel en el panel de Cloudflare
TUNNEL_NAME=runner-esp32-tunnel2

# Credenciales de acceso a la terminal web
TERMINAL_USER=admin
TERMINAL_PASS=tu_clave_segura

# Usuario del sistema operativo que ejecutará los servicios
RUN_USER=runner